API_V1_STR="/api/v1"
PROJECT_NAME="Notifications Service"
HOST="0.0.0.0"
PORT=5006
DEBUG=True

DB_URL="postgresql://youssef:password@postgresdb:5432/pms_notifications_db"
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"

SMTP_HOSTNAME="smtp.gmail.com"
SMTP_PORT=587
SMTP_START_TLS=True
SMTP_USE_TLS=True
SMTP_USERNAME="your_email@gmail.com"
SMTP_PASSWORD="your_password"