aio_pika==10.0.1
aiosmtplib==5.1.2
dnspython==2.8.0
email-validator==2.3.0
fastapi[standard]==0.140.0
psycopg2-binary==2.9.11
pydantic==2.13.4
pydantic_settings==2.14.2
PyJWT==2.13.0
pytest==9.0.3
sqlmodel==0.0.39
stamina==26.1.0
