DEBUG=True
SECRET_KEY="django-insecure-5m7a+=(($$+pe6=k)329a9eld1gpodpl^1_xh35ii6*a^g*tui"
ALLOWED_HOSTS= "localhost,127.0.0.1"
API_PREFIX="api/v1"

# DATABASE_NAME="pms_users_db"
# DATABASE_USER="youssef"
# DATABASE_PASSWORD="password"
# DATABASE_HOST="localhost"
# DATABASE_PORT=6603

POSTGRESQL_DB="pms_users_db"
POSTGRESQL_USER="youssef"
POSTGRESQL_PASSWORD="password"
POSTGRESQL_HOST="localhost"
POSTGRESQL_PORT=5432


ACCESS_TOKEN_LIFETIME= 5 #MINS
REFRESH_TOKEN_LIFETIME= 60 #DAYS
AUTH_HEADER_TYPES=["Bearer"]

EMAIL_HOST= "localhost"
EMAIL_PORT= 587
EMAIL_USE_TLS= True
EMAIL_USE_SSL= False
EMAIL_HOST_USER= 'your-email@gmail.com'
EMAIL_DISPLAY_NAME=Web App Team
EMAIL_SENDER='your-email@gmail.com'
EMAIL_HOST_PASSWORD = 'your-app-password' 